* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

.container {
  overflow-y: hidden;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card-box {
  width: calc(25% - 66px);
  background-color: #f0f0f0;
  margin-bottom: 20px;
  border-radius: 30px;
  /* padding: 20px; */
  border: 3px solid;
  height: 18rem;
}

.small-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.small-box {
  width: calc(34.33% - 330px);
  background-color: #f0f0f0;
  margin-bottom: 20px;
  border-radius: 15px;
  /* padding: 10px; */
  padding: 15px 50px 15px 31px;
  text-align: center;
  border: 3px solid;
  /* margin-left: 134px;
  margin-right: 142px; */
}

.icon {
  font-size: 100px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  text-align: center;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 70px;
}

.name {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .card-box {
    width: calc(50% - 21px);
  }
  .small-box {
    width: calc(100% - 317px);
  }
}

@media only screen and (max-width: 1200px) {
  .icon {
    font-size: 80px;
  }
  .text {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .icon {
    font-size: 60px;
  }
  .text {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 480px) {
  .icon {
    font-size: 40px;
  }
  .text {
    font-size: 1rem;
  }
}
